################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

*.csproj
/UMI3D-BROWSER/Assets/SteamVR
/UMI3D-BROWSER/Assets/SteamVR_Resources
